doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title= (title ? title : 'EpiCom')
    link(href="components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/navbar.css", rel="stylesheet")