include layoutTop

link(href="css/login.css", rel="stylesheet")
  
body
  if errorAuthentification
    div.alert.alert-danger.alert-login Login et/ou mot de passe invalide

  div.container
    form.form-login(role="form authentification", action='/login', method='POST')
      h2.form-login-heading Please log in
      input.form-control(type="text", placeholder="login", name='login', required autofocus)
      input.form-control(type="password", placeholder="Password", name='password', required)
      label.checkbox Remember me
        input(type="checkbox", value="remember-me")
      button.btn.btn-lg.btn-primary.btn-block(type="submit") log in

include layoutBottom
script(src="js/form.js")