div.container.masthead
  h3.text-muted EpiCom
  ul.nav.nav-justified
    li(class=(title === 'Home' ? 'active' : ''))
      a(href='/') Home
    li(class=(title === 'Media' ? 'active' : ''))
      a(href='/media') Media
    li(class=(title === 'Playlist' ? 'active' : ''))
      a(href='/playlist') Playlist
    li(class=(title === 'Presentation' ? 'active' : ''))
      a(href='/presentation') Presentation
    li(class=(title === 'Video' ? 'active' : ''))
      a(href='/video') Video
    li
      a(href='/logout') Logout