include layoutTop

link(href="css/playlist.css", rel="stylesheet")

body
  div.container
    include navbar
    // List media
    div.container.container-media.pull-left(id='media')
      ul.nav.nav-tabs
        li.active
          a(href='#video', data-toggle='tab') Videos

      div.tab-content
        div.tab-pane.active(id='video')
          ul.media-list
            each video in videos
              li.media(id= video, draggable='true', ondragstart='drag(event)')
                video.pull-left(width='200', height='140', controls)
                  source(src='media/video/' + video, type='video/mp4')
                  source(src='media/video/' + video, type='video/ogg')
                div.media-body
                  h4.media-heading=video
        
    div.container.container-playlist.pull-right(id='form playlist')
      if (isOk == false)
        div.alert.alert-danger.alert-upload Playlist non sauvegardée
      if (isOk == true)
        div.alert.alert-success.alert-upload Playlist sauvegardée
      form(method='POST', action='/playlist')
        h2 Créer une playlist
        input.form-control(id='playlistName', type='text', placeholder='Nom', name='name', required, value=plist.name)
        table.table.table-bordered.table-striped(id='table list', ondrop='drop(event)', ondragover='allowDrop(event)')
          tr
            th Fichier
            th(style='width:60px;')
          if (!plist)
            tr
              td
              td
          else
            each vid, i in plist.data
              if (i % 2 == 1)
                tr
                  td=vid
                  td
                    button.btn.btn-default(type='button', onclick='deleteRow(this);')
                      span.glyphicon.glyphicon-remove
        button.btn.btn-lg.btn-primary(type='button', onclick='sentPlaylist()') Sauvegarder

include layoutBottom
script(src='js/playlist.js')