include layoutTop

body
  include navbar
  div.container
    button(style="width:100px;height:50px;margin:10px;", onclick="playVideo();") play
    button(style="width:100px;height:50px;margin:10px;", onclick="stopVideo();") stop
    button(style="width:100px;height:50px;margin:10px;", onclick="pauseVideo();") pause
    button(style="width:100px;height:50px;margin:10px;", onclick="unpauseVideo();") unpause

include layoutBottom
  script(src="js/video.js")